.agoraSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 12px;
  border: 1px solid rgba(18, 50, 98, 0.4);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  user-select: none;

  > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
  }

  > svg {
    margin-left: 12px;
  }

  &.open {
    border-color: #123262;
  }
}

.agoraSelect__wrapper {
  position: relative;
}

.agoraSelect__menu {
  z-index: 100;
  position: absolute;
  margin-top: 0.5rem;
  min-width: 325px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(18, 50, 98, 0.24);
  transition: all 150ms ease-in-out;
  max-height: 600px;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }

  //&::-webkit-scrollbar {
  //  width: 4px;
  //}
  //&::-webkit-scrollbar-track {
  //  background: transparent;
  //  opacity: 0;
  //}
  //&::-webkit-scrollbar-thumb {
  //  background: red;
  //}
}

.agoraSelect__thumb {
  background: #123262;
  opacity: 0.2;
  border-radius: 2px;
  width: 4px;
}

.agoraSelect__menu__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 70ms linear;
  cursor: pointer;

  span {
    flex-grow: 1;
    text-align: left;
  }

  svg {
    margin-left: .5rem;
  }

  &:hover {
    background: rgba(18, 50, 98, 0.05);
  }
}

@media only screen and (max-width: 850px) {
  .agoraSelect__menu {
    min-width: 240px;
  }
}
