.button {
  display: block;
  color: #172dF3;
  text-decoration: none;
  padding: 16px 16px;
  // max-width: 16rem;
  // width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 4px 10px 0 rgba(44, 125, 247, 0.24);
  text-align: center;
  border: 2px solid #172dF3;

  svg {
    // display: inline-block;
    width: 16px;
    height: 16px;
  }

  @media only screen and (min-width: 850px){
    &_mobile {
      display: none;
    }
  }
  @media only screen and (max-width: 850px){
    &_desktop {
      display: none;
    }
  }
}
