.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 2.25rem;

  > button {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filter__button {
  flex: 1;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d1dae0;
  border-radius: 4px;
  padding: 1rem 1rem;
  text-align: center;
  outline: none;
  transition: all 0.2s linear;

  &.selected {
    background: white;
    border-color: #864afc;
    box-shadow: 0 12px 24px 0 rgba(18, 50, 98, 0.1), 0 0 24px 0 rgba(18, 50, 98, 0.05);
  }

  b {
    margin-right: 0.4em;
  }
  span {
    margin-left: 0.8rem;
    color: rgba(18, 50, 98, 0.5);
  }
}

@media only screen and (max-width: 850px) {
  .filter {
    span {
      display: none;
    }
    .filter__button > img {
      margin: 0;
    }
    .filter__button > span {
      display: none;
    }
  }
}
