@import "components/common/CommonLayout";

.proposal__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.proposal__info__general {
  flex: 1;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-self: normal;
}

.proposal__info__chart {
  height: 100%;
}

.proposal__info__proposalList {
  margin-bottom: auto;
}

.period__primaryInfo {
  background: white;
  box-shadow: 0 16px 32px 0 rgba(18, 50, 98, 0.04);
  padding: 2.25rem 1.5rem;
}

.period__secondaryInfo {
  flex: 1;
  padding: 2.25rem 1.5rem;
}
