@import "proposals";
@import "bakers";

.period__primaryInfo > div {
  display: flex;
}


.exploration__description {
  flex: 9;
  margin-right: 1.5rem;
}

.exploration__voters {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.exploration__voters__graph {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .period__primaryInfo > div {
    flex-direction: column;
  }

  .exploration__description {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
