.periodPage__header {
  position: relative;
  padding-bottom: 1.5rem;
  &::before {
    z-index: -100;
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  }
}
