@import "proposals";
@import "bakers";

.period__primaryInfo > div {
  display: flex;
}

.promotion__description {
  flex: 9;
  margin-right: 1.5rem;
}

.promotion__voters {
  flex: 10;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.promotion__voters__graph {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .period__primaryInfo > div {
    flex-direction: column;
  }

  .promotion__description {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
