.proposalStage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;

  img {
    margin: 0 1rem;
  }
}

.proposalStage__indicator {
  height: 100%;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 1rem;
  text-decoration: none;

  &_selected {
    color: #2c7df7;
  }

  &_disabled {
    opacity: 0.4;
  }
}
