.periodHeader {
  display: flex;
  border-radius: 4px;
  align-items: center;

  a {
    .periodHeader__arrowIcon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #172dF3;
      box-shadow: 0 16px 24px rgba(54, 123, 245, 0.2);
    }

    &:last-child {
      margin-left: auto;
      .periodHeader__arrowIcon {
        transform: rotateY(180deg);
      }
    }

    &.disabled {
      pointer-events: none;
      .periodHeader__arrowIcon {
        box-shadow: 0 16px 24px rgba(9, 9, 64, 0.15);
        background: rgba(9, 9, 64, 0.15);
      }
    }
  }
}

.periodHeader__stage {
  display: flex;
  margin-left: 1rem;
}
.periodHeader__main {
  margin-left: 1rem;
}

.periodHeader__stage_short {
  display: none;
}

.periodHeader__timeTracker {
  margin-left: auto;
}

.periodHeader__timeRemaining, .periodHeader__winner {
  margin: 0 2rem;
  font-weight: 500;
}

.periodHeader__timeRemaining {
  font-size: 18px;
}

.periodHeader__winner {
  font-size: 20px;
  display: flex;
  justify-content: center;

  svg {
    width: 1.35rem;
    height: 1.35rem;
    margin-left: .5rem;
  }
}

@media only screen and (min-width: 850px){
  .periodHeader__main {
    display: flex;
  }
}

@media only screen and (max-width: 850px){
  .periodHeader {
    display: block;
    position: relative;
    text-align: center;

    a {
      position: absolute;
      top: 0;

      &:first-child {
        left: 0
      }

      &:last-child {
        right: 0
      }
    }
  }

  .periodHeader__main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 1.5rem;
  }
  .periodHeader__stage {
    display: none;
  }

  .periodHeader__stage_short {
    display: block;
  }

  .periodHeader__timeTracker {
    justify-content: center;
  }

  .periodHeader__timeRemaining, .periodHeader__winner {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 851px) {
  .periodHeader__timeTracker, .periodHeader__timeRemaining, .periodHeader__winner {
    display: none;
  }
}
