.proposalTimeTracker {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.proposalTimeTracker__caption {
  margin: 1px 0.5rem 0;
  color: #76828b;
}

.proposalTimeTracker__circles {
  display: flex;
  align-items: center;
}

.proposalTimeTracker__circle {
  min-width: 1rem;
  height: 1rem;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.proposalTimeTracker__circle__fill {
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  display: block;
  position: absolute
}

.proposalTimeTracker__circle_current {
  border: 2px solid #172dF3;
  background: #172dF3;
}

.proposalTimeTracker__circle_filled {
  background: #172dF3;
}

.proposalTimeTracker__circle_empty {
  border: 2px solid rgba(18, 50, 98, 0.5);
}
