.explorationDescription {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.explorationDescription__title {
  font-size: 64px;
  font-weight: 800;
  line-height: 77px;
  color: #0e151a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.75rem;
}

.explorationDescription__description {
  font-size: 18px;
  line-height: 28px;
  color: #76828b;
  margin-bottom: 1.5rem;
}

.explorationDescription__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 -0.5rem;

  > * {
    margin-right: 1rem;
    margin: 1rem 0.5rem 0;
  }
}

.explorationDescription__discussButton {
  align-self: flex-start;
}

@media only screen and (max-width: 850px){
  .explorationDescription__title {
    font-size: 36px;
    line-height: 50px;
    margin: 0 0 0.25rem;
  }

  .explorationDescription__discussButton {
    align-self: center;
  }
}
