.recentVotes__item {
  margin-bottom: 1.5rem;
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__author {
    display: inline-block;
    font-size: 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323c47;

    &_no_name {
      cursor: pointer;
    }
  }

  &__operation {
    margin-top: 0.5rem;
    font-size: 0.875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323c47;
    //min-width: 300px;
    > span {
      color: rgba(14, 21, 26, 0.5);
    }
  }

  &__rolls {
    display: inline-block;
    float: right;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
    margin-left: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.recentVotes__header {
  display: flex;

  > div:last-child {
    margin-left: auto;
  }
}
