.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > div {
    text-align: center;
  }
}

.countdown__title,.countdown__datePeriod {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.countdown__timeLeft {
  margin-top: 0.5rem;
  font-size: 35px;
  color: #2c7df7;
  line-height: 52px;
}

@media only screen and (max-width: 767px) {
  .countdown__timeLeft {
    font-size: 24px;
    line-height: 34px;
  }
}
