.button {
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(44, 125, 247, 0.24);
  background-color: #172dF3;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 1em 5em;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(44, 125, 247, 0.24);
    background-color: #5c6ff8;
  }

  &:active {
    box-shadow: 0 4px 10px 0 rgba(44, 125, 247, 0.24);
    background-color: #172dF3;
  }
}
